blob-store
compile-cache
dev
storage
packages
.apm
.node-gyp
.npm
.ssh
Applications
extras
"Creative Cloud Files"
git-media
Desktop
lfs
Documents
Downloads
Dropbox
mxnet
Library
Movies
nerd-fonts
Music
Pictures
Public
