"*":
  Hydrogen: {}
  "atom-pronama-chan":
    images: {}
  "autocomplete-bibtex":
    bibtex: [
      "~/Dropbox/library.bib"
    ]
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "Remote-FTP"
      "autocomplete-emojis"
      "symbols-tree-view"
      "linter-lintr"
      "atom-pronama-chan"
      "script"
      "Hydrogen"
      "markdown-preview-enhanced"
      "markdown-preview"
      "minimap"
      "minimap-autohide"
      "linter"
      "terminal-plus"
      "atom-ide-ui"
      "autocomplete-python"
      "language-julia"
      "remote-edit"
      "remote-edit2"
      "language-gfm"
      "language-markdown"
      "markdown-writer"
      "vim-surround"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "cousine"
    fontSize: 15
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 80
  "exception-reporting":
    userId: "6d048c03-f2d0-f7f5-f258-9205310409c2"
  "git-plus":
    general:
      _analyticsUserId: "afc7f700-1cd7-492d-b6b0-8100961f6b65"
  linter: {}
  "linter-ui-default":
    panelHeight: 81
  "markdown-preview-plus":
    enablePandoc: true
    pandocBIBFile: "ref_LES.bib"
    pandocCSLFile: "ecology.csl"
  minimap:
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "platformio-ide":
    showHomeScreen: false
  "platformio-ide-terminal":
    core:
      autoRunCommand: "export PATH=/Users/mattocci/.atom/packages/platformio-ide/penv/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
  "r-exec":
    whichApp: "Terminal"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
  "terminal-plus":
    core: {}
    style:
      theme: "solarized_light"
    toggles: {}
  termination:
    core: {}
    style:
      theme: "solarized-light"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  typewriter: {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
